<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.8" />
    <title>หน้าจอการลบข้อมูลผู้ใช้: </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggoyReixCbMQv3xipma34MD+dH/1fQ784/16CY/1JTQUOhcwr7x9JvoRXT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div class="container borderpx">
        <div class="row py-2 px-2 borderpx" style="background-color: rgb(156, 221, 7);">
            <div class="col">
                <h4 class="text-center">การลบข้อมูลผู้ใช้</h4>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <h4>ข้อมูลผู้ใช้ :</h4>
            </div>
        </div>
        <form id="form" name="form" onsubmit="required()">
            <div class="row py-2 px-3">
                <div class="col py-2 px-2">
                    <p>ชื่อ : <%= datam[0].name%></p>
                    <br />
                    <p>ตำแหน่ง : <%= datam[0].position%> </p>
                    <br /></div>
                <div class="col py-2 px-2">
                    <p>สกุล : <%= datam[0].surname%></p>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col px-2 py-2">
                    <input class="btn mybtn" id="save" type="submit" value="ตกลง" />
                    <a class="btn mybtn2" id="cancel" href="/main">ยกเลิก</a>
                </div>
            </div>
        </form>
    </div>
</body>
<style>
    p {
        font-weight: bolder;
    }

    .borderpx {
        border: 2px solid rgb(0, 0, 0);
    }

    .mybtn {
        background-color: rgb(132, 219, 81);
        border-radius: 4px;
        border-color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        padding: 6px 28px;
        box-shadow: 0 8px 16px 8 Orgba(0, 0, 0, 0.2),
            O 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .mybtn2 {
        background-color: rgb(209, 23, 23);
        border-radius: 4px;
        border-color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        padding: 6px 28px;
        box-shadow: 0 8px 16px e rgba(0, 0, 0, 0.2),
            0 6px 20px e rgba(0, 0, 0, 0.19);
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function required() {
            document.getElementById('form').action = '/delete'
            document.getElementById('form').method = 'POST'
    }
</script>
<html>